@using MyMoney.Web.Services
@using MyMoney.Web.Components.Accounts
@inject CacheService cache;
@inject NavigationManager navigation;

@page "/accounts"
@page "/"

<link href="css/bootstrap.min.css" rel="stylesheet" />
<div>
    <p>Home Page</p>
    <i class="bi bi-trash"></i>
    
    <AccountsListComponent />
</div>

@code {
    private string token;
    
    protected override async Task OnInitializedAsync()
    {
        token = await cache.GetValueAsync<string>("UserToken");
        if (string.IsNullOrWhiteSpace(token))
        {
            navigation.NavigateTo("/login");
        }
        
    }
}
