@using MyMoney.Web.Services
@using MyMoney.Web.Components.Accounts
@using MyMoney.Web.Components.Transactions
@inject CacheService cache;
@inject NavigationManager navigation;

@page "/accounts"
@page "/"

<link href="css/bootstrap.min.css" rel="stylesheet" />
<div>
    <h1>My Accounts</h1>
    <p class="text-info">Accounts represent different concepts used to group transactions and manage amounts of money.</p>
    
    <AccountsListComponent />
</div>

@code {
    private string token;
    
    protected override async Task OnInitializedAsync()
    {
        token = await cache.GetValueAsync<string>("UserToken");
        if (string.IsNullOrWhiteSpace(token))
        {
            navigation.NavigateTo("/login");
        }
        
    }
}
